/* swiper */
.swiper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 1px solid var(--header);
  border-radius: 10px;
  background: #fff;
  height: 250px;
  color: var(--gray-color);
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.swiper-slide:hover {
  cursor: pointer;
  border: 1px solid var(--border-hover);
  box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.64);
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  padding: 1em;
  position: relative;
  left: 3em;
}

.ft-cart h3 {
  max-width: 1200px;
  margin: auto;
  margin-top: 3.5em;
}

/* end of swiper */
@media (max-width: 31em){
  .swiper-slide{
    position: relative;
    height: 50%;
  }
  .swiper-slide img{
    width: 100px;
    position: relative;
    left: -0.5em;
  }
  .swiper-slide span{
    font-size: 0.5em;
  }
}